{% extends "base.html" %}
{% block body %}

<div class="row">
    <div class="content_container" >
        <h1>My Wines</h1>

                {% for wine in my_wines %}

<div class="row" style="min-width: 600px;">

                    <div class="col-3" style="margin: 0;">
                    <a href="{% url 'wine_detail' wine.id %}"><button>View Wine</button></a>
                    </div>
                    <div class="col-8" style="text-align: left;">
                    {{wine.name}} from {{ wine.winery.name }}
                    </div>
</div>

                {% endfor %}

<br>
    </div>
</div>





{% endblock %}