{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col content-container">
        <h1>Wine Details</h1>

        <div class="row" style="text-align: left;">
            <div class="col-sm-8">
                <h5><strong>{{wine.name}} </strong></h5>
            </div>
            <div class="col-sm-1" style="margin: 0 5px;">
                    <a href="{% url 'wine_update' wine.id %}">Edit</a>
                </div>

                <div class="col-sm-1" style="margin: 0 5px;">
                    <a href="{% url 'wine_delete' wine.id %}">Delete</a>
                </div>
        </div>
        <div class="row" style="text-align: left;">
            <h6><span>produced by <a href="{% url 'winery_detail' wine.winery.id %}">{{ wine.winery.name}}</a> </span></h6>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Style</strong>
            </div>
            <div class="col">
                <strong>Grape</strong>
            </div>
            <div class="col">
                <strong>Vintage</strong>
            </div>
            <div class="col">
                <strong>Color</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{wine.style}}
            </div>
            <div class="col">
                {{wine.grape}}
            </div>
            <div class="col">
                {{wine.vintage}}
            </div>
            <div class="col">
                {{wine.color}}
            </div>
        </div>
        <br>
        <div class="row" style="text-align: left;">
            <strong>Taste Notes</strong>
        </div>
        <div class="row" style="text-align: left;">
            <p>{{wine.taste_notes}}</p>
        </div>
        <div class="row">
            <img src="{{ wine.image_url }}" alt="picture of wine bottle" style="width: 80%; height: auto;">
        </div>
        <br>

        <div class="row" style="text-align: left;">
            <h3>Other Wines at this Winery</h3>

            <div class="row" style="text-align: left;">
                {% for other_wine in wine.winery.wine_set.all %}
                {% if other_wine.id != wine.id %}
                <div class="col-sm-8">
                    <a href="{% url 'wine_detail' other_wine.id %}">
                        <span style="font-style: italic;">{{other_wine.name}} </span>
                        is a {{other_wine.vintage}} {{other_wine.style}}</a>
                </div>
                {% endif%}
                {% endfor %}
            </div>
        </div>
        <br>


        <div id="quini" class="row hidden" style="text-align: left;">
            <h3 id="quini-h2">Quini Reviews</h3>

            <table id="quini-list" style="text-align: left;">

            </table>
        </div>


    </div>
<br>
    <div class="col-sm-1">
<!--    SPACER    -->
    </div>

    <div class="col content-container">
        <h3>MySomm. Reviews</h3>
        {% for comment in wine.comment_set.all %}
        <div class="row">
            <div class="col-sm-8" style="text-align: left;">
                <strong>{{comment.rating}} star wine!</strong>
            </div>
            <div class="col-sm-1" style="margin: 0 5px; text-align: right;">
                <a href="{% url 'comment_update' comment.id %}">Edit</a>
            </div>
            <div class="col-sm-1" style="margin: 0 5px; text-align: right;">
                <a href="{% url 'comment_delete' comment.id %}">Delete</a>
            </div>
        </div>
        <div class="row" style="text-align: left;">
            {{comment.content}}
        </div>
        <br>
        {% endfor %}
        <div class="row">
            <form action="{% url 'add_comment' wine.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" class="btn" value="Add Comment">
            </form>
        </div>
    </div>
</div>
<br>



<script>

    function quiniAPI(){
        const token = '{{ quini_token }}';
        const QuiniEl = document.getElementById('quini');
        const QuiniTableEl = document.getElementById('quini-list');
        let keywords = '{{ wine.name }} {{ wine.winery.name }}'
        //ajax to get wine info
        $.ajax({
            type: 'GET',
            url: 'https://quiniwine.com/api/pub/wineKeywordSearch/' + keywords + '/0/1?access_token=' + token,
            data: '',
            success: function (response) {
                if(response.items[0].Name === '{{ wine.name }}' && response.items[0].Winery === '{{wine.winery.name}}'){
                    let wineId = response.items[0].id;
                    //ajax to get info for specific wine
                    $.ajax({
                        type: 'GET',
                        url: 'https://quiniwine.com/api/pub/wineSummary.json?wine_id=' + wineId + '&access_token=' + token,
                        data: '',
                        success: function (response) {
                            QuiniEl.classList.remove('hidden');
                            let textReviews = response.agg_summary.textReviews;
                            let scores = response.aggregate.scoreAvg;
                            let eye = makeElement('Eye', textReviews.eye, scores[0]);
                            let nose = makeElement('Nose', textReviews.nose, scores[1]);
                            let mouth = makeElement('Mouth', textReviews.mouth, scores[2]);
                            let finish = makeElement('Finish', textReviews.finish, scores[3]);
                            let overall = makeElement('Overall',textReviews.overall, scores[4]);
                            QuiniTableEl.appendChild(eye);
                            QuiniTableEl.appendChild(nose);
                            QuiniTableEl.appendChild(mouth);
                            QuiniTableEl.appendChild(finish);
                            QuiniTableEl.appendChild(overall);

                        },
                        error: function (response) {
                            QuiniEl.classList.add('hidden');
                            QuiniTableEl.innerHTML = "";
                        }
                    });

                } else {
                    QuiniEl.classList.add('hidden');
                    QuiniTableEl.innerHTML = "";
                }

            },
            error: function (response) {

            }
        });

        function makeElement(category, text, score){
            let tr = document.createElement('tr');
            let catTd = document.createElement('td');
            catTd.textContent = category;
            let scoreTd = document.createElement('td');
            scoreTd.textContent = score;
            let textTd = document.createElement('td');
            textTd.textContent = text;
            tr.appendChild(catTd);
            tr.appendChild(scoreTd);
            tr.appendChild(textTd);
            return tr;
        }
    }
    quiniAPI();
</script>


{% endblock %}

