{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="container content-container">
        <h1>Log In</h1>
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>

<script>
    document.getElementById('id_username').classList.add('form-control');
    document.getElementById('id_password').classList.add('form-control');
</script>
{% endblock %}