{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="row"><h1>About.</h1></div>
        <p>
            <strong>MySomm.</strong> is a queryable  web application that exists to help users quickly discover and make great decisions about wine.
            Users can learn about vintages and grape varietals, as well as tasting notes, food pairings and producers.
            Go to that party with confidence, knowing
            that you are carrying a bottle of wine
            everyone will love.
        </p>
        <div class="row"><br></div>
        <div class="row"><h3><strong>3BlindMice</strong> Dev Team</h3></div>
        <div class="row"><strong>Angeline Teets</strong></div>
        <div class="row">Logic | Views | API</div>
        <div class="row"><br></div>
        <div class="row"><strong>Jeremy Durden</strong></div>
        <div class="row">Scrum | Git | ReadMe | PostgreSQL | Model</div>
        <div class="row"><br></div>
        <div class="row"><strong>Kory Breitenbucher</strong></div>
        <div class="row">Templates | Bootstrap | API | ERD | Wireframe</div>
    </div>
{% endblock %}

