{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MySomm.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

</head>

<body id="body">
<header class="container-fluid">
    <div class="container">
        <div class="row">

<!-- Site Logo Below Here -->
            <div class="col-sm"><a id="logo" href="/" ><h1>MySomm.</h1></a></div>
            <div class="col-sm-2">

<!-- Login Links Below Here -->
                <div>
                    {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-sm"><a href="{% url 'profile' %}" class="nav-button nav-item nav-link" id="profile_btn">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</a></div>
                    </div>
                    <div class="col-sm"><a href="{% url 'logout' %}" class="nav-button nav-item nav-link" id="logout_btn">Log Out</a></div>
                    {% else %}
                    <div class="col-sm"><a href="{% url 'login' %}" class="nav-button nav-item nav-link" id="login_btn">Log In</a></div>
                    <div class="col-sm"><a href="{% url 'signup' %}" class="nav-button nav-item nav-link" id="signup_btn">Sign Up</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Nav Links Below Here -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <div id="current_link" class="nav-button"><a href="/findwines" class="nav-item nav-link">FindWines.</a></div>
                {% if user.is_authenticated %}
                <div class="nav-button"><a href="/mywines" class="nav-item nav-link">MyWines.</a></div>
                <div class="nav-button"><a href="/profile" class="nav-item nav-link">MyProfile.</a></div>
                {% endif %}
                <div class="nav-button"><a href="/glossary" class="nav-item nav-link">Glossary.</a></div>
                <div class="nav-button"><a href="/about" class="nav-item nav-link">About.</a></div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" id="content_bkg">
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    {% block map %}
    {% endblock %}
</div>

    </body>
</html>