{% extends "base.html" %}
{% block body %}

<body data-spy="scroll" data-offset="15" data-target="#myScrollspy">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" id="myScrollspy">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="#section1">Section One</a>
                    <a class="list-group-item list-group-item-action" href="#section2">Section Two</a>
                    <a class="list-group-item list-group-item-action" href="#section3">Section Three</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="section1">
                    <h2>Section One</h2>
                    <p>This is section one content...</p>
                </div>
                <hr>
                <div id="section2">
                    <h2>Section Two</h2>
                    <p>This is section two content...</p>
                </div>
                <hr>
                <div id="section3">
                    <h2>Section Three</h2>
                    <p>This is section three content...</p>
                </div>
            </div>
        </div>
    </div>
</body>








<div class="row small-collapse medium-uncollapse main-content-row">
    <div class="medium-3 large-2 columns">
        <div id="section-buttons" class="gray-toggle-buttons">
            <span data-section="a-d" class="selected">A to D</span>
            <span data-section="e-p" class="">E to P</span>
            <span data-section="q-z" class="">Q to Z</span>
        </div>
    </div>

    <div class="medium-13 large-9 columns">
        <ol class="letters active" data-section="a-d">
            <ul><span class="Alphabet" style="font-size: 300%;">A</span>
                <dl class="terms">
                    <dt data-term-id="acidity">Acidity</dt> <dd>A naturally occurring component of every wine; the level of perceived sharpness; a key element to a wine's longevity; a leading determinant of balance.</dd>
                    <dt data-term-id="alcohol">Alcohol</dt> <dd>The end product of fermentation; technically ethyl alcohol resulting from the interaction of natural grape sugars and yeast; generally above 12.5 percent in dry table wines.</dd>
                    <dt data-term-id="alsace">Alsace</dt> <dd>A highly regarded wine region in eastern France renowned for dry and sweet wines made from Riesling, Gewuerztraminer, Pinot Blanc, Pinot Gris, and others.</dd>
                    <dt data-term-id="amarone">Amarone</dt> <dd>A succulent higher-alcohol red wine hailing from the Veneto region in northern Italy; made primarily from Corvina grapes dried on racks before pressing.</dd>
                    <dt data-term-id="aoc">AOC</dt> <dd>Appellation diOrigine Controlee, a French term for a denominated, governed wine region such as Margaux or Nuits-St.-Georges.</dd>
                    <dt data-term-id="aroma">Aroma</dt> <dd>A scent thatis a component of the bouquet or nose; i.e. cherry is an aromatic component of a fruity bouquet.</dd>
                    <dt data-term-id="ava">AVA</dt> <dd>American Viticultural Area; a denominated American wine region approved by the Bureau of Alcohol, Tobacco, and Firearms.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">B</span>
                <dl class="terms">
                    <dt data-term-id="bacchus">Bacchus</dt> <dd>The Roman god of wine, known as Dionysus in ancient Greece; a hybrid white grape from Germany.</dd>
                    <dt data-term-id="balance">Balance</dt> <dd>The level of harmony between acidity, tannins, fruit, oak, and other elements in a wine; a perceived quality that is more individual than scientific.</dd>
                    <dt data-term-id="barrel-fermented">Barrel Fermented</dt> <dd>A process by which wine (usually white) is fermented in oak barrels rather than in stainless steel tanks; a richer, creamier, oakier style of wine.</dd>
                    <dt data-term-id="barrique">Barrique</dt> <dd>French for 'barrel,' generally a barrel of 225 liters.</dd>
                    <dt data-term-id="beaujolais">Beaujolais</dt> <dd>A juicy, flavorful red wine made from Gamay grapes grown in the region of the same name.</dd>
                    <dt data-term-id="beaujolais-nouveau">Beaujolais Nouveau</dt> <dd>The first Beaujolais wine of the harvest; its annual release date is the third Thursday in November.</dd>
                    <dt data-term-id="blanc-de-blancs">Blanc de Blancs</dt> <dd>The name for Champagne made entirely from Chardonnay grapes.</dd>
                    <dt data-term-id="blanc-de-noirs">Blanc de Noirs</dt> <dd>The name for Champagne made entirely from red grapes, either Pinot Noir or Pinot Meunier, or both.</dd>
                    <dt data-term-id="blend">Blend</dt> <dd>The process whereby two or more grape varieties are combined after separate fermentation; common blends include Cotes de Rhone and red and white Bordeaux.</dd>
                    <dt data-term-id="blush">Blush</dt> <dd>A wine made from red grapes but which appears pink or salmon in color because the grape skins were removed from the fermenting juice before more color could be imparted; more commonly referred to as rose.</dd>
                    <dt data-term-id="bodega">Bodega</dt> <dd>Spanish for winery; literally the 'room where barrels are stored.'</dd>
                    <dt data-term-id="body">Body</dt> <dd>The impression of weight on one's palate; light, medium, and full are common body qualifiers.</dd>
                    <dt data-term-id="bordeaux">Bordeaux</dt> <dd>A city on the Garonne River in southwest France; a large wine-producing region with more than a dozen subregions; a red wine made mostly from Cabernet Sauvignon, Merlot, and Cabernet Franc; a white wine made from Sauvignon Blanc and Semillon.</dd>
                    <dt data-term-id="botrytis-cinerea">Botrytis Cinerea</dt> <dd>A beneficial mold that causes grapes to shrivel and sugars to concentrate, resulting in sweet, unctuous wines; common botryt's wines include Sauternes, Tokay, and German beerenauslese.</dd>
                    <dt data-term-id="bouquet">Bouquet</dt> <dd>The sum of a wine's aromas; how a wine smells as a whole; a key determinant of quality.</dd>
                    <dt data-term-id="breathe">Breathe</dt> <dd>The process of letting a wine open up via the introduction of air</dd>
                    <dt data-term-id="brix">Brix</dt> <dd>A scale used to measure the level of sugar in unfermented grapes. Multiplying brix by 0.55 will yield a wine's future alcohol level.</dd>
                    <dt data-term-id="brut">Brut</dt> <dd>A French term used to describe the driest Champagnes.</dd>
                    <dt data-term-id="burgundy">Burgundy</dt> <dd>A prominent French wine region stretching from Chablis in the north to Lyons in the south; Pinot Noir is the grape for red Burgundy, Chardonnay for white.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">C</span>
                <dl class="terms">
                    <dt data-term-id="cabernet-franc">Cabernet Franc</dt> <dd>A red grape common to Bordeaux; characteristics include an herbal, leafy flavor and a soft, fleshy texture.</dd>
                    <dt data-term-id="cabernet-sauvignon">Cabernet Sauvignon</dt> <dd>A powerful, tannic red grape of noble heritage; the base grape for many red Bordeaux and most of the best red wines from California, Washington, Chile, and South Africa; capable of aging for decades.</dd>
                    <dt data-term-id="cap">Cap</dt> <dd>Grape solids like pits, skins, and stems that rise to the top of a tank during fermentation; what gives red wines color, tannins and weight.</dd>
                    <dt data-term-id="cava">Cava</dt> <dd>Spanish for 'cellar,' but also a Spanish sparkling wine made in the traditional Champagne style from Xarello, Macabeo, and Parellada grapes.</dd>
                    <dt data-term-id="chablis">Chablis</dt> <dd>A town and wine region east of Paris known for steely, minerally Chardonnay.</dd>
                    <dt data-term-id="champagne">Champagne</dt> <dd>A denominated region northeast of Paris in which Chardonnay, Pinot Noir, and Pinot Meunier grapes are made into sparkling wine.</dd>
                    <dt data-term-id="chaptalization">Chaptalization</dt> <dd>The process of adding sugar to fermenting grapes in order to increase alcohol.</dd>
                    <dt data-term-id="chardonnay">Chardonnay</dt> <dd>Arguably the best and most widely planted white wine grape in the world.</dd>
                    <dt data-term-id="chateau">Chateau</dt> <dd>French for 'castle;' an estate with its own vineyards.</dd>
                    <dt data-term-id="chenin-blanc">Chenin Blanc</dt> <dd>A white grape common in the Loire Valley of France.</dd>
                    <dt data-term-id="chianti">Chianti</dt> <dd>A scenic, hilly section of Tuscany known for fruity red wines made mostly from Sangiovese grapes.</dd>
                    <dt data-term-id="claret">Claret</dt> <dd>An English name for red Bordeaux.</dd>
                    <dt data-term-id="clos">Clos</dt> <dd>Pronounced 'Cloh,' this French word once applied only to vineyards surrounded by walls.</dd>
                    <dt data-term-id="color">Color</dt> <dd>A key determinant of a wine's age and quality; white wines grow darker in color as they age while red wines turn brownish orange.</dd>
                    <dt data-term-id="cooperative">Cooperative</dt> <dd>A winery owned jointly by multiple grape growers.</dd>
                    <dt data-term-id="corked">Corked</dt> <dd>A wine with musty, mushroomy aromas and flavors resulting from a cork tainted by TCA (trichloroanisol).</dd>
                    <dt data-term-id="crianza">Crianza</dt> <dd>A Spanish term for a red wine that has been aged in oak barrels for at least one year.</dd>
                    <dt data-term-id="cru">Cru</dt> <dd>A French term for ranking a wineis inherent quality, i.e. cru bourgeois, cru classe, premier cru, and grand cru.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">D</span>
                <dl class="terms">
                    <dt data-term-id="decant">Decant</dt> <dd>The process of transferring wine from a bottle to another holding vessel. The purpose is generally to aerate a young wine or to separate an older wine from any sediment.</dd>
                    <dt data-term-id="denominacion-de-origen">Denominacion de Origen</dt> <dd>Spanish for 'appellation of origin;' like the French AOC or Italian DOC.</dd>
                    <dt data-term-id="denominazione-di-origine-controllata">Denominazione di Origine Controllata</dt> <dd>Italian for a controlled wine region; similar to the French AOC or Spanish DO.</dd>
                    <dt data-term-id="disgorge">Disgorge</dt> <dd>The process by which final sediments are removed from traditionally made sparkling wines prior to the adding of the dosage.</dd>
                    <dt data-term-id="dosage">Dosage</dt> <dd>A sweetened spirit added at the very end to Champagne and other traditionally made sparkling wines. It determines whether a wine is brut, extra dry, dry, or semisweet.</dd>
                    <dt data-term-id="douro">Douro</dt> <dd>A river in Portugal as well as the wine region famous for producing Port wines.</dd>
                    <dt data-term-id="dry">Dry</dt> <dd>A wine containing no more than 0.2 percent unfermented sugar.</dd>
                </dl>
            </ul>
        </ol>

        <ol class="letters" data-section="e-p">
            <ul><span class="Alphabet" style="font-size: 300%;">E</span>
                <dl class="terms">
                    <dt data-term-id="earthy">Earthy</dt> <dd>A term used to describe aromas and flavors that have a certain soil-like quality.</dd>
                    <dt data-term-id="enology">Enology</dt> <dd>The science of wine production; an enologist is a professional winemaker; an enophile is someone who enjoys wine.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">F</span>
                <dl class="terms">
                    <dt data-term-id="fermentation">Fermentation</dt> <dd>The process by which sugar is transformed into alcohol; how grape juice interacts with yeast to become wine.</dd>
                    <dt data-term-id="filtration">Filtration</dt> <dd>The process by which wine is clarified before bottling.</dd>
                    <dt data-term-id="fining">Fining</dt> <dd>Part of the clarification process whereby elements are added to the wine, i.e. egg whites, in order to capture solids prior to filtration.</dd>
                    <dt data-term-id="fortified-wine">Fortified Wine</dt> <dd>A wine in which brandy is introduced during fermentation; sugars and sweetness are high due to the suspended fermentation.</dd>
                    <dt data-term-id="fumé-blanc">Fumé Blanc</dt> <dd>A name created by Robert Mondavi to describe dry Sauvignon Blanc.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">G</span>
                <dl class="terms">
                    <dt data-term-id="gamay">Gamay</dt> <dd>A red grape exceedingly popular in the Beaujolais region of France.</dd>
                    <dt data-term-id="gewürztraminer">Gewürztraminer</dt> <dd>A sweet and spicy white grape popular in eastern France, Germany, Austria, northern Italy, and California.</dd>
                    <dt data-term-id="graft">Graft</dt> <dd>A vineyard technique in which the bud-producing part of a grapevine is attached to an existing root.</dd>
                    <dt data-term-id="gran-reserva">Gran Reserva</dt> <dd>A Spanish term used for wines that are aged in wood and bottles for at least five years prior to release.</dd>
                    <dt data-term-id="grand-cru">Grand Cru</dt> <dd>French for 'great growth;' the very best vineyards.</dd>
                    <dt data-term-id="green">Green</dt> <dd>A term used to describe underripe, vegetal flavors in a wine.</dd>
                    <dt data-term-id="grenache">Grenache</dt> <dd>A hearty, productive red grape popular in southern France as well as in Spain, where it is called Garnacha.</dd>
                    <dt data-term-id="grüner-veltliner">Grüner Veltliner</dt> <dd>A white grape popular in Austria that makes lean, fruity, racy wines.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">H</span>
                <dl class="terms">
                    <dt data-term-id="haut">Haut</dt> <dd>A French word meaning 'high.' It applies to quality as well as altitude.</dd>
                    <dt data-term-id="hectare">Hectare</dt> <dd>A metric measure equal to 10,000 square meters or 2.47 acres.</dd>
                    <dt data-term-id="hectoliter">Hectoliter</dt> <dd>A metric measure equal to 100 liters or 26.4 gallons.</dd>
                    <dt data-term-id="herbaceous">Herbaceous</dt> <dd>An aroma or flavor similar to green; often an indication of underripe grapes or fruit grown in a cool climate.</dd>
                    <dt data-term-id="hollow">Hollow</dt> <dd>A term used to describe a wine that doesnit have depth or body.</dd>
                    <dt data-term-id="hybrid">Hybrid</dt> <dd>The genetic crossing of two or more grape types; common hybrids include Mueller-Thurgau and Bacchus</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">I</span>
                <dl class="terms">
                    <dt data-term-id="ice-wine">Ice Wine</dt> <dd>From the German eiswein, this is a wine made from frozen grapes; Germany, Austria and Canada are leading ice wine producers.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">J</span>
                <dl class="terms">
                    <dt data-term-id="jeroboam">Jeroboam</dt> <dd>An oversized bottle equal to six regular 750 ml bottles.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">K</span>
                <dl class="terms">
                    <dt data-term-id="kabinett">Kabinett</dt> <dd>A German term for a wine of quality; usually the driest of Germanyis best Rieslings.</dd>
                    <dt data-term-id="kosher">Kosher</dt> <dd>A wine made according to strict Jewish rules under rabbinical supervision.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">L</span>
                <dl class="terms">
                    <dt data-term-id="labrusca">Labrusca</dt> <dd>Grape types native to North America such as Concord and Catawba.</dd>
                    <dt data-term-id="late-harvest">Late Harvest</dt> <dd>A term used to describe dessert wines made from grapes left on the vines for an extra long period, often until botrytis has set in.</dd>
                    <dt data-term-id="lees">Lees</dt> <dd>Heavy sediment left in the barrel by fermenting wines; a combination of spent yeast cells and grape solids.</dd>
                    <dt data-term-id="legs">Legs</dt> <dd>A term used to describe how wine sticks to the inside of a wineglass after drinking or swirling.</dd>
                    <dt data-term-id="loire">Loire</dt> <dd>A river in central France as well as a wine region famous for Chenin Blanc, Sauvignon Blanc, and Cabernet Franc.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">M</span>
                <dl class="terms">
                    <dt data-term-id="maceration">Maceration</dt> <dd>The process of allowing grape juice and skins to ferment together, thereby imparting color, tannins, and aromas.</dd>
                    <dt data-term-id="madeira">Madeira</dt> <dd>A fortified wine that has been made on a Portuguese island off the coast of Morocco since the fifteenth century.</dd>
                    <dt data-term-id="maderized">Maderized</dt> <dd>Stemming from the word Madeira, this term means oxidization in a hot environment.</dd>
                    <dt data-term-id="magnum">Magnum</dt> <dd>A bottle equal to two regular 750 ml bottles.</dd>
                    <dt data-term-id="malbec">Malbec</dt> <dd>A hearty red grape of French origin now exceedingly popular in Argentina.</dd>
                    <dt data-term-id="malolactic-fermentation">Malolactic Fermentation</dt> <dd>A secondary fermentation, often occurring in barrels, whereby harsher malic acid is converted into creamier lactic acid.</dd>
                    <dt data-term-id="medoc">Medoc</dt> <dd>A section of Bordeaux on the west bank of the Gironde Estuary known for great red wines; Margaux, St.-Estephe, and Pauillac are three leading AOCs in the Medoc.</dd>
                    <dt data-term-id="merlot">Merlot</dt> <dd>A lauded red grape popular in Bordeaux and throughout the world; large amounts of Merlot exist in Italy, the United States, South America, and elsewhere.</dd>
                    <dt data-term-id="must">Must</dt> <dd>Crushed grapes about to go or going through fermentation.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">N</span>
                <dl class="terms">
                    <dt data-term-id="nebbiolo">Nebbiolo</dt> <dd>A red grape popular in the Piedmont region of northwest Italy; the grape that yields both Barolo and Barbaresco.</dd>
                    <dt data-term-id="negociant">Negociant</dt> <dd>A French term for a person or company that buys wines from others and then labels it under his or her own name; stems from the French word for 'shipper.'</dd>
                    <dt data-term-id="nose">Nose</dt> <dd>Synonymous with bouquet; the sum of a wine's aromas.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">O</span>
                <dl class="terms">
                    <dt data-term-id="oaky">Oaky</dt> <dd>A term used to describe woody aromas and flavors; butter, popcorn, and toast notes are found in 'oaky' wines.</dd>
                    <dt data-term-id="organic">Organic</dt> <dd>Grapes grown without the aid of chemical-based fertilizers, pesticides, or herbicides.</dd>
                    <dt data-term-id="oxidized">Oxidized</dt> <dd>A wine that is no longer fresh because it was exposed to too much air.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">p</span>
                <dl class="terms">
                    <dt data-term-id="ph">pH</dt> <dd>An indication of a wine's acidity expressed by how much hydrogen is in it.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">P</span>
                <dl class="terms">
                    <dt data-term-id="phylloxera">Phylloxera</dt> <dd>A voracious vine louse that over time has destroyed vineyards in Europe and California.</dd>
                    <dt data-term-id="piedmont">Piedmont</dt> <dd>An area in northwest Italy known for Barolo, Barbaresco, Barbera, Dolcetto, and Moscato.</dd>
                    <dt data-term-id="pinot-blanc">Pinot Blanc</dt> <dd>A white grape popular in Alsace, Germany, and elsewhere.</dd>
                    <dt data-term-id="pinot-gris">Pinot Gris</dt> <dd>Also called Pinot Grigio, this is a grayish-purple grape that yields a white wine with a refreshing character.</dd>
                    <dt data-term-id="pinot-noir">Pinot Noir</dt> <dd>The prime red grape of Burgundy, Champagne, and Oregon.</dd>
                    <dt data-term-id="pinotage">Pinotage</dt> <dd>A hybrid between Pinot Noir and Cinsault thatis grown almost exclusively in South Africa.</dd>
                    <dt data-term-id="plonk">Plonk</dt> <dd>A derogatory name for cheap, poor-tasting wine.</dd>
                    <dt data-term-id="pomace">Pomace</dt> <dd>The mass of skins, pits, and stems left over after fermentation; used to make grappa in Italy and marc in France.</dd>
                    <dt data-term-id="port">Port</dt> <dd>A sweet, fortified wine made in the Douro Valley of Portugal and aged in the coastal town of Vila Nova de Gaia; variations include Vintage, Tawny, Late Bottled Vintage, Ruby, White, and others.</dd>
                    <dt data-term-id="premier-cru">Premier Cru</dt> <dd>French for 'first growth;' a high-quality vineyard but one not as good as grand cru.</dd>
                    <dt data-term-id="press">Press</dt> <dd>The process by which grape juice is extracted prior to fermentation; a machine that extracts juice from grapes.</dd>
                    <dt data-term-id="primeur-(en)">Primeur (en)</dt> <dd>A French term for wine sold while it is sill in the barrels; known as 'futures' in English-speaking countries.</dd>
                    <dt data-term-id="pruning">Pruning</dt> <dd>The annual vineyard chore of trimming back plants from the previous harvest.</dd>
                </dl>
            </ul>
        </ol>

        <ol class="letters" data-section="q-z">
            <ul><span class="Alphabet" style="font-size: 300%;">R</span>
                <dl class="terms">
                    <dt data-term-id="racking">Racking</dt> <dd>The process of moving wine from barrel to barrel, while leaving sediment behind.</dd>
                    <dt data-term-id="reserva">Reserva</dt> <dd>A Spanish term for a red wine that has spent at least three years in barrels and bottles before release.</dd>
                    <dt data-term-id="reserve">Reserve</dt> <dd>A largely American term indicating a wine of higher quality; it has no legal meaning.</dd>
                    <dt data-term-id="rhône">Rhône</dt> <dd>A river in southwest France surrounded by villages producing wines mostly from Syrah; the name of the wine-producing valley in France.</dd>
                    <dt data-term-id="riddling">Riddling</dt> <dd>The process of rotating Champagne bottles in order to shift sediment toward the cork.</dd>
                    <dt data-term-id="riesling">Riesling</dt> <dd>Along with Chardonnay, one of the top white grapes in the world; most popular in Germany, Alsace, and Austria.</dd>
                    <dt data-term-id="rioja">Rioja</dt> <dd>A well-known region in Spain known for traditional red wines made from the Tempranillo grape.</dd>
                    <dt data-term-id="rosé">Rosé</dt> <dd>French for "pink" and used to describe a category of refreshing wines that are pink in color but are made from red grapes.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">S</span>
                <dl class="terms">
                    <dt data-term-id="sancerre">Sancerre</dt> <dd>An area in the Loire Valley known mostly for wines made from Sauvignon Blanc.</dd>
                    <dt data-term-id="sangiovese">Sangiovese</dt> <dd>A red grape native to Tuscany; the base grape for Chianti, Brunello di Montalcino, Morellino di Scansano, and others.</dd>
                    <dt data-term-id="sauternes">Sauternes</dt> <dd>A sweet Bordeaux white wine made from botrytized Semillon and Sauvignon Blanc.</dd>
                    <dt data-term-id="sauvignon-blanc">Sauvignon Blanc</dt> <dd>A white grape planted throughout the world; increasingly the signature wine of New Zealand.</dd>
                    <dt data-term-id="sherry">Sherry</dt> <dd>A fortified wine from a denominated region in southwest Spain; styles include fino, Manzanilla, oloroso, and amontillado.</dd>
                    <dt data-term-id="shiraz">Shiraz</dt> <dd>The Australian name for Syrah; also used in South Africa and sparingly in the United States.</dd>
                    <dt data-term-id="silky">Silky</dt> <dd>A term used to describe a wine with an especially smooth mouthfeel.</dd>
                    <dt data-term-id="solera">Solera</dt> <dd>The Spanish system of blending wines of different ages to create a harmonious end product; a stack of barrels holding wines of various ages.</dd>
                    <dt data-term-id="sommelier">Sommelier</dt> <dd>Technically a wine steward, but one potentially with a great degree of wine knowledge as well as a diploma of sorts in wine studies.</dd>
                    <dt data-term-id="spicy">Spicy</dt> <dd>A term used to describe certain aromas and flavors that may be sharp, woody, or sweet.</dd>
                    <dt data-term-id="split">Split</dt> <dd>A quarter-bottle of wine; a single-serving bottle equal to 175 milliliters.</dd>
                    <dt data-term-id="steely">Steely</dt> <dd>A term used to describe an extremely crisp, acidic wine that was not aged in barrels.</dd>
                    <dt data-term-id="stemmy">Stemmy</dt> <dd>A term used to describe harsh, green characteristics in a wine.</dd>
                    <dt data-term-id="super-tuscan">Super Tuscan</dt> <dd>A red wine from Tuscany that is not made in accordance with established DOC rules; often a blended wine of superior quality containing Cabernet Sauvignon and/or Merlot.</dd>
                    <dt data-term-id="supple">Supple</dt> <dd>A term used to describe smooth, balanced wines.</dd>
                    <dt data-term-id="syrah">Syrah</dt> <dd>A red grape planted extensively in the Rhone Valley of France, Australia, and elsewhere; a spicy, full and tannic wine that usually requires aging before it can be enjoyed.</dd>
                    <dt data-term-id="sémillon">Sémillon</dt> <dd>A plump white grape popular in Bordeaux and Australia; the base for Sauternes.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">T</span>
                <dl class="terms">
                    <dt data-term-id="table-wine">Table Wine</dt> <dd>A term used to describe wines of between 10 and 14 percent alcohol; in Europe, table wines are those that are made outside of regulated regions or by unapproved methods.</dd>
                    <dt data-term-id="tannins">Tannins</dt> <dd>Phenolic compounds that exist in most plants; in grapes, tannins are found primarily in the skins and pits; tannins are astringent and provide structure to a wine; over time tannins die off, making wines less harsh.</dd>
                    <dt data-term-id="tempranillo">Tempranillo</dt> <dd>The most popular red grape in Spain; common in Rioja and Ribera del Duero.</dd>
                    <dt data-term-id="terroir">Terroir</dt> <dd>A French term for the combination of soil, climate, and all other factors that influence the ultimate character of a wine.</dd>
                    <dt data-term-id="tokay">Tokay</dt> <dd>A dessert wine made in Hungary from dried Furmint grapes.</dd>
                    <dt data-term-id="trocken">Trocken</dt> <dd>German for 'dry.'</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">V</span>
                <dl class="terms">
                    <dt data-term-id="varietal">Varietal</dt> <dd>A wine made from just one grape type and named after that grape; the opposite of a blend.</dd>
                    <dt data-term-id="veneto">Veneto</dt> <dd>A large wine-producing region in northern Italy.</dd>
                    <dt data-term-id="vin-santo">Vin Santo</dt> <dd>Sweet wine from Tuscany made from late-harvest Trebbiano and Malvasia grapes.</dd>
                    <dt data-term-id="vintage">Vintage</dt> <dd>A particular year in the wine business; a specific harvest.</dd>
                    <dt data-term-id="viognier">Viognier</dt> <dd>A fragrant, powerful white grape grown in the Rhone Valley of France and elsewhere.</dd>
                    <dt data-term-id="viticulture">Viticulture</dt> <dd>The science and business of growing wine grapes.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">Y</span>
                <dl class="terms">
                    <dt data-term-id="yeast">Yeast</dt> <dd>Organisms that issue enzymes that trigger the fermentation process; yeasts can be natural or commercial.</dd>
                    <dt data-term-id="yield">Yield</dt> <dd>The amount of grapes harvested in a particular year.</dd>
                </dl>
            </ul>
            <ul><span class="Alphabet" style="font-size: 300%;">Z</span>
                <dl class="terms">
                    <dt data-term-id="zinfandel">Zinfandel</dt> <dd>A popular grape in California of disputed origin; scientists say it is related to grapes in Croatia and southern Italy.</dd>
                </dl>
            </ul>
        </ol>
    </div>
</div>
<script>

</script>
{% endblock %}