{% extends "base.html" %}

{% block map %}
<div class="row" id="search_dropdowns">
<!-- Search for Wines -->
    <div class="col">
        <div class="btn-group">
            <button type="button" id="wine-toggle-btn" class="search-toggle-btn dropdown-toggle" data-toggle="dropdown">Search for Wines</button>
            <div class="dropdown-menu">
                <form id="wine-search-form" class="hidden">
                    {% csrf_token %}
                    {{ wine_form }}
                    <button type="submit" class="btn btn-secondary">
                        Search <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
<!-- Search for Wineries -->
        <div class="btn-group">
            <button type="button" id="winery-toggle-btn" class="search-toggle-btn dropdown-toggle" data-toggle="dropdown">Search for Wineries</button>
            <div class="dropdown-menu">
                <form id="winery-search-form" class="hidden" action="{% url 'winery_search' %}" method="POST">
                    {% csrf_token %}
                    {{ winery_form }}
                    <button type="submit" class="btn btn-secondary">
                        Search <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Results Table -->
{% include 'search-results.html' %}




<!--   Render Map     -->
<div id="csrf"> {% csrf_token %}</div>
<div class="col" id="map_content">
    {{ plot|safe }}
</div>
{% endblock %}

