{% extends "base.html" %}
{% block body %}
{% if user %}
<div class="row">
    <div class="col">
<div class="row"><h1><span>MyProfile.</span></h1></div>
<br>
<div class="row"><h2><span><strong>Username: </strong>{{ user.username }}</span></h2></div>
<div class="row"><h2><span><strong>First Name: </strong>{{ user.first_name }}</span></h2></div>
<div class="row"><h2><span><strong>Last Name: </strong>{{ user.last_name }}</span></h2></div>
<br>
{% if user.is_authenticated and user.is_vintner or user.is_superuser %}
        <div class="row"><h3><a href="/winery/create">AddWinery.</a> to map list.</h3></div>
    <br>
        <br>

    </div>

<div class="col">
<div class="row"><h1>MyWineries.</h1></div>
<br>
<div class="row">
    <div class="col-sm-1"><h4><strong>Id</strong></h4></div>
    <div class="col-sm-10"><h4><strong>Name and Address</strong></h4></div>
</div>
{% endif %}
{% for winery in my_wineries %}

<div class="row">
    <p>_________________________________________________________________________</p>
    <div class="col-sm-1">{{winery.id}}</div>
    <div class="col-sm-10">{{winery}}</div>
</div>

    <div>
        <a href="{% url 'winery_detail' winery.id %}">
            <b>{{ winery.name }}</b> {{ winery.city }} {{ winery.county.state }}
        </a>
    </div>

{% endfor %}

<p>_________________________________________________________________________</p>
</div>
</div>
{% else %}
<p>Not a vintner</p>
{% endif %}


{% endblock %}