body {
    font-family: 'Gabriela', serif;
    min-width: 450px;
}
header {
    color: #C4C4C4;
    background-color: #971313;
    height: 10%;
    font-size: larger;
}
h1 {
    font-size: 350%;
}
#logo {
    color: #C4C4C4;
    text-decoration: none;
}
.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-button {
    margin: 0 10px;
    white-space: nowrap;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #C4C4C4;
    text-decoration: none;
    font-size: larger;
}
#content_bkg {
    background-color: #C4C4C4;
    min-height: 600px;
}
.g-gtitle, .infolayer, .modebar-container {
display: none;
}
#info_content {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    min-width: 350px;
    max-width: 350px;
}
#map_content {
    background: none;
    max-width: 800px;
    min-width: 500px;
}
#scrollSpy {
	position: relative; /* required */
}
.list-group{
    position: sticky; /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    top: 15px;
}