{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col content-container">
        <h1>Winery Details</h1>
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <h2>{{ winery.name }}</h2>
                    {% if winery.logo_url %}
                    <img class="winery-logo" src="{{ winery.logo_url }}" alt="Winery Logo">
                    {% endif %}
                    <p style="font-weight: bold;">Address</p>
                    <p>
                        {{ winery.address }}<br>
                        {{ winery.city }}   
                        {% if winery.county %}
                            , {{ winery.county.state}} <br>
                            {{ winery.county.name }} County
                        {% endif %}
                        {{ winery.zipcode }}
                    </p>
                </div>
                {% if winery.user == user %}
                <div class="col-1">
                    <a href="{% url 'winery_update' winery.id %}"><button class="btn">Edit</button></a>
                </div>
                <div class="col-1">
                    <a href="{% url 'winery_delete' winery.id %}"><button class="btn">Delete</button></a>
                </div>
                {% endif %}
            </div>
        </div> 
        <br><br>
        <div class="col">
            {% if winery.img_url %}
            <img class="winery-image" src="{{ winery.img_url }}" alt="Image of Winery">
            {% endif %}
            <br><br>
            <h3>Our Wines</h3>
            <ul>
                {% for wine in winery.wine_set.all %}
                <li>    
                    <a href="{% url 'wine_detail' wine.id %}">
                        <span style="font-style: italic; margin-right: 5px;">{{wine.name}}</span>  
                        {{wine.vintage}} {{wine.style}}
                    </a>
                    
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-1">

    </div>

    <div class="col content-container">
        {% if winery.user == user %}
        <h1>Add Wine</h1>
        <form action="{% url 'add_wine' winery.id %}" method="post">
            {% csrf_token %}
            {{ wine_form.as_p }}
            <input type="submit" class="btn" value="Add Wine">
        </form>
        {% else %}
        <h4>Not finding what you're looking for?</h4>
        <br>
        <p><a href="{% url 'home' %}">Search our site for more wines</a></p>
        {% endif %}
    </div>
</div>
<script defer src="{% static 'js/winery.js' %}"></script>
{% endblock %}

